.content-skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.content-skip:focus {
  position: static;
  width: auto;
  height: auto;
  background-color: cadetblue;
  color: aliceblue;
}
